<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ application.name }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('themes/zuse/libs/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('themes/zuse/styles.css') }}">
{#        <link rel="icon" type="image/x-icon" href="{{ asset('themes/zuse/favicon.png') }}">#}
    {% endblock %}
</head>
{% set route = app.request.get('_route') %}
<body class="{{ route }}">
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('logs_index') }}"><span class="fa fa-wpexplorer"></span>&ensp;{{ application.name }}</a>
            </div>
            <form class="navbar-form navbar-right" method="get" action="{{ path('logs_index') }}">
                <div class="form-group">
                    <label>
                        <input type="text" name="search" class="form-control" value="" autofocus="autofocus" placeholder="Search...">
                    </label>
                </div>
                <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
            </form>
{#            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#                <ul class="nav navbar-nav">#}
{#                    <li class="{% if route starts with 'import' %}active{% endif %}"><a href="#"><span></span>Import</a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </nav>
</header>
<section>
    {% block body %}
    {% endblock %}
</section>
<footer>
    <div>
        <span>&copy; {{ "now"|date("Y") }} Dosing GmbH Heidelberg. <span class="hidden-xs">Developed with <i class="love">&hearts;</i> by Philipp Speck.</span></span>
        <span class="pull-right"><span style="font-size: 12pt"></span>Version {{ application.version }}</span>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('themes/zuse/js/jquery.slim.js') }}"></script>
    <script src="{{ asset('themes/zuse/js/tablesorter.js') }}"></script>
    <script src="https://mottie.github.io/tablesorter/js/parsers/parser-date-month.js"></script>
    <script src="{{ asset('themes/zuse/libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        if (!window.localStorage['sf2/profiler/toolbar/displayState']) {
            window.localStorage['sf2/profiler/toolbar/displayState'] = 'none';
        }
        if ($('.sf-minitoolbar').length > 0) {
            $('section').css('margin-bottom', 0);
        }

        $('table.table').tablesorter({
            dateFormat : "yyyy mm"
        });

        //$('table.table').tablesorter();

    </script>
{% endblock %}
</body>
</html>