{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/zuse/libs/chartist/chartist.min.css') }}">
    <link rel="stylesheet" href="{{ asset('themes/zuse/libs/chartist/plugins/chartist-plugin-tooltip.css') }}">
{% endblock %}

{% block body %}
    <div class="content" style="padding: 5px 20px">
        <h1>Request: <code>{{ app.request.query.get('request') }}?{{ app.request.query.get('param') }}</code></h1>
        <div id="1" style="height: 280px" class="ct-chart"></div>
        <div id="2" style="height: 280px" class="ct-chart time"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('themes/zuse/libs/chartist/chartist.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/zuse/libs/chartist/plugins/chartist-plugin-pointlabels.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/zuse/libs/chartist/plugins/chartist-plugin-tooltip.min.js') }}"></script>
    <script>
        new Chartist.Line('.ct-chart', {
            labels: {{ labels|raw }},
            series: [
                {{ number|raw }}
            ]
        }, {
            showArea: true,
            plugins: [
                Chartist.plugins.ctPointLabels({
                    textAnchor: 'middle'
                })
            ]
        });

        new Chartist.Line('.time', {
            labels: {{ labels|raw }},
            series: [
                {{ median|raw }}
            ]
        }, {
            showArea: true,
            plugins: [
                // Chartist.plugins.tooltip(),
                Chartist.plugins.ctPointLabels({
                    textAnchor: 'middle'
                })
            ]
        });
    </script>
{% endblock %}
