{% extends '@App/base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
{#                <th>Server</th>#}
                <th>Method</th>
                <th>Request</th>
                <th>Param</th>
                <th>Port</th>
{#                <th>Client</th>#}
                <th>Status</th>
                <th class="number">Duration</th>
                <th class="number">Hits</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ path('app_chart_chart', {
                        'request': log.request,
                        'param': log.param,
                        'status': log.status,
                        'date': log.datetime|date('Y-m')
                    }) }}">
                        <span class="fa fa-area-chart"></span>
                    &ensp;{{ log.datetime ? log.datetime|date('Y-m') : '' }}
                    </a>
                </td>
{#                <td>{{ log.server }}</td>#}
                <td>
                    {% set label = 'primary' %}
                    {% if log.method == 'GET' %}
                        {% set label = 'success' %}
                    {% endif %}
                    <span class="label label-{{ label }}">
                    {{ log.method }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('logs_search', {
                        'request': log.request,
                        'param': log.param,
                        'date': log.datetime|date('Y-m')
                    }) }}">
                        <span class="fa fa-search"></span>
                    &ensp;{{ log.request }}
                    </a>
                </td>
                <td title="{{ log.param }}">{{ log.param }}</td>
                {% if log.port == '443' %}
                    <td><span class="label label-success"><i class="fa fa-lock"></i>&ensp;{{ log.port }}</span></td>
                {% else %}
                    <td><span class="label label-default"><i class="fa fa-unlock"></i>&ensp;{{ log.port }}</span></td>
                {% endif %}
{#                <td>{{ log.client }}</td>#}
                <td>
                    {% set label = 'default' %}
                    {% if log.status == '200' %}
                        {% set label = 'success' %}
                    {% endif %}
                    {% if log.status == '500' %}
                        {% set label = 'danger' %}
                    {% endif %}
                    <span class="label label-{{ label }}">
                        {{ log.status }}
                    </span>
                </td>
                <td class="number">
                    <span class="avg ms">{{ log.duration|round }}</span>
                </td>
                <td class="number">{{ log.number }}&ensp;<span class="fa fa-bullseye"></span></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}